body
{
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.label
{
    margin-right: 0.1em !important;
    margin-left: 0.1em !important;
}

tags-input .tags .tag-item
{
    background: none !important;
    font-family: 'Robot', sans-serif !important;
    border: none !important;
    margin: 0 important;
    padding: 0 !important;
}

.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}

.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.tag a:hover {
  opacity: 1.0
}

.tag .remove {
  vertical-align: bottom;
  top: 0;
}

.tag a {
  margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

#login
{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    background-color: rgba(164, 188, 194, 0.15);
    border-radius: 40px;
}

#login input
{
    font-size: 1.2em;
}
