body
{
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
}

.container-fluid.soft
{
    padding-left: 40px;
    padding-right: 40px;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.label
{
    margin-right: 0.1em !important;
    margin-left: 0.1em !important;
}

#login
{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    background-color: rgba(164, 188, 194, 0.15);
    border-radius: 40px;
}

#login input
{
    font-size: 1.2em;
}

hr.soft
{
    margin-top: 8px;
    margin-bottom: 8px;
}

.panel-heading .stats
{
    font-size: 2.4em;
}

.table.grid
{
}

.table.grid tr, .table.grid th, .table.grid td
{
    padding: 0px !important;
    font-size: 0.9em;
    font-weight: normal !important;
}

.catalogue-item
{
}

.catalogue-item .media-body h4
{
}

img.img-catalogue
{
    max-height: 160px;
    max-width: 160px;
}

